

.footer {
    background-color: #5c52e2;
    color: #fff;
}

.footer-section {
    margin-bottom: 20px;
}


.footer h5 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffcc00;
}

.footer-link {
    color: #ffcc00;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}